body {
  background-color: #d9d9d9;
  color: #3a3c3e;
  font-family: 'Open Sans', sans-serif;
}

.app {
  height: 100vh;
}

.app__main {
  height: 100%;
}

.header {
  background-color: #3a3c3e;
}

.header__container {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.logo__link {
  color: #f41f0d;
  font-size: 18px;
  text-decoration: none;
  text-transform: uppercase;
}

.navigation {
  text-align: right;
  width: 100%;
}

.navigation__list {
  display: inline-block;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navigation__item {
  display: inline-block;
  padding: 15px 20px;
}

.navigation__item--toggle {
  position: relative;
}

.navigation__link {
  background: none;
  border: none;
  color: #e7e8ea;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 0.11em;
  line-height: inherit;
  outline: none;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.2s ease color;
  -webkit-appearance: none;
}

.navigation__link:hover {
  color: #ffd101;
}

.subnav {
  background-color: #3a3c3e;
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  right: 0;
  top: 100%;
}

.subnav__link {
  background: none;
  border: none;
  color: #e7e8ea;
  display: block;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 0.11em;
  line-height: inherit;
  padding: 15px 20px;
  outline: none;
  text-align: left;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.2s ease color;
  -webkit-appearance: none;
}

.subnav__link:hover {
  color: #ffd101;
}

.page {
  align-items: center;
  display: flex;
  font-size: 60px;
  font-weight: 700;
  height: 100%;
  justify-content: center;
  letter-spacing: 0.15em;
  text-transform: uppercase;
}

.u-container {
  margin: auto;
  max-width: 960px;
  width: 100%;
}
